body {
    background: linear-gradient(to right, #FFFAFA, #F8BBD0);
}

:root {
    font-size: 62.5%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

header h1 {
    font-size: 3rem;
    align-self: flex-start;
    color: #6F4E37;
    font-family: "Bebas Neue", sans-serif;
    margin-right: auto;
    margin-left: 5rem;
}

nav{
margin-right: 20rem;
}

a {
    text-decoration: none;
    padding: 0.4rem;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.9rem;
    color: #6F4E37;
    font-weight: 700;
    border-radius: 1rem;
    font-size: 2.4rem;
    transition: 0.5s;
}

a:hover{
    background-color: #ffffff;
}


/* parte do card principal */

.card_principal {
    display: flex;
    margin: auto;
    width: 80rem;
    height: 40rem;
    border: 3px solid #ffffff;
    aspect-ratio: 2;
    border-radius: 2rem;
    background-color: #F8BBD0;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    transition: 1s;
    box-sizing: border-box;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card_principal:hover{
    scale: 1.1;
}

.texto {
    margin-bottom: 5rem;
}

.texto h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #6F4E37;
}

.texto #sua-loja{
    font-family: "Pacifico", cursive;
    font-size: 2.5rem;
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}

.card_principal img {
    width: 30rem;
    margin-bottom: 5.5rem;
    margin-left: 10rem;
}

ion-icon{
    font-size: 2.2rem;
    padding: 0.2rem;
    transition: 0.5s;
    color: #6F4E37;
}

ion-icon:hover{
    color: #ffffff;
}

/* titulos */
.titulo_p1{
    margin: 2rem;
    margin-bottom: 2rem;
}

.titulo{
    font-family: "Bebas Neue", sans-serif;
    margin-top: 0;
    color: #6F4E37;
    font-size: 3rem;
    margin-bottom: 0;
}

.sumario{
    font-family: "Pacifico", cursive;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
    font-size: 1.7rem;
}

.titulo_p2{
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.titulo2{
    font-size: 3rem;
    color: #6F4E37;
    font-family: "Bebas Neue", sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.sumario_p2{
    font-family: "Pacifico", cursive;
    color: black;
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: 0;
}

/* parte dos cards de produtos */

.produtos {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.img-card {
    position: relative;
    width: 30rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    height: 20rem;
    overflow: hidden;
    border: 3px solid #ffffff;
    border-radius: 2rem;
    transition: 1s;
}

.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.texto-escondido {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.753);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

.texto-escondido h1 {
    color: #F8BBD0;
    font-size: 2.3rem;
    font-family: "Pacifico", cursive;
    text-align: center;
    padding: 1rem;
}

.img-card:hover .texto-escondido {
    opacity: 1;
}

.img-card:hover{
    scale: 1.1;
}



/* Parte dos cards de mais vendidos */


.mais_vendas{
    display: flex;
    justify-content: space-evenly;
}

.mais_vendas h1{
    font-family: "Pacifico", cursive;
    color: #6F4E37;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3rem;
}

.titulo-card{
    font-family: "Pacifico", cursive;
    font-size: 2rem;
    color: #6F4E37;

}

.sub-card{
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.7rem;
}

.card1{
    width: 25rem;
    height: 30rem;
    background-color: rgba(241, 241, 241, 0.8);
    border: 1px solid #ffffff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    transition: 0.5s;
}

.card1 img{
    width: 12rem;
    border-radius: 2rem;
}

.card2{
    width: 25rem;
    height: 30rem;
    background-color: rgba(241, 241, 241, 0.8);
    border: 1px solid #ffffff;
    font-family: "Pacifico", cursive;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    box-sizing: border-box;
    transition: 0.5s;
}

.card2 img{
    width: 13rem;
    border-radius: 2rem;
}

.card3{
    width: 25rem;
    font-family: "Pacifico", cursive;
    height: 35rem;
    background-color: rgba(241, 241, 241, 0.8);
    border: 1px solid #ffffff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    box-sizing: border-box;
    transition: 0.5s;
}

.card3 img{
    width: 12rem;
    border-radius: 2rem;
}


.card1:hover{
    background-color: #F8BBD0;
    scale: 1.1;
}

.card2:hover{
    background-color: #F8BBD0;
    scale: 1.1;
}

.card3:hover{
    background-color: #F8BBD0;
    scale: 1.1;
}

/* Parte de contatos */


.form{
    display: flex;
    margin-bottom: 10rem;
    gap: 4rem;
    justify-content: center;
    margin-top: 10rem;
  }
  
  .form h1{
      color: #6F4E37;
      font-size: 3rem;
      font-family: "Pacifico", cursive;
      font-weight: 400;
      font-style: normal;
  }
  
  .form textarea{
  
      width: 30rem;
      height: 10rem;
      resize: none;
      background-color: transparent;
      border: 2px solid #ffffff;
      border-radius: 1rem;
      color: #6F4E37;
      font-family: "Bebas Neue", sans-serif;
      padding: 10px;
  }
  
  .form input{
      width: 30rem;
      height: 1.5rem;
      background-color: transparent;
      border: 2px solid #ffffff;
      border-radius: 1rem;
      color: #6F4E37;
      font-family: "Bebas Neue", sans-serif;
      padding: 10px;
  }
  
  .form label h1{
      color: #6F4E37;
      font-size: 2.5rem;
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-style: normal;
      margin-bottom: 5px;
  }
  
  .form button{
      background-color: transparent;
      border: none;
      margin-top: 2rem;
      width: 9rem;
      border-radius: 1rem;
      color: black;
      font-family: "Bebas Neue", sans-serif;
      font-size: 2.2rem;
      transition: 1s;
  }
  
  .form button:hover{
      border: #ffffff 1px solid;
      color: #6F4E37;
  }