@media(min-width: 320px) and (max-width: 720px){

header{
    margin-bottom: 10rem;
}

header h1{
    font-size: 1.6rem;
    margin-right: 0;
    margin-left: 0;
}

a{
    font-size: 1.5rem;
}

nav{
    margin-left: 5rem;
    margin-right: 0;
}

.card_principal{
    width: 33rem;
    height: 20rem;
}

.texto h1{
    font-size: 2rem;
}

.texto #sua-loja{
    font-size: 1rem;
}

.card_principal img{
    margin-left: 0rem;
    width: 20rem;
    margin-bottom: 10.6rem;
}

.img-card{
    width: 9rem;
}


.card1{
    width: 10rem;
}

.card2{
    width: 10rem;
}

.card3{
    width: 10rem;
}

.card1 img{
    width: 9rem;
}

}
